
.zkmlid-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.zkml-bg-img {
    object-fit: cover;
}
.zkml-circle-effect {
    position: absolute;
    margin-top: -20rem;
    border-radius: 50%;
}
.zkml-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}
.zkmlid {
    display: block;
    border-radius: 2rem;
    width: 100%;
    position: relative;
}
.zkmlid-txt {
    font-size: 1.5rem;
    color: #CAECF1;
}

.zkmlid-header {
    width: 30%;
    display: flex;
    background-color: #04050A;
    border-radius: 1.5rem;
    margin-left: 0.8rem;
}

.zkmlid-body {
    width: 100%;
    display: block;
    border-radius: 2rem;
}

.zkmlid-body-generate {
    background-color: #14161A;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 20px;
}
.zkmlid-body-control {
    background-color: #14161A;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 20px;
}
.zkml-body-header {
    padding: 0 20px;
    min-height: 15vh;
}
.zkml-id-contracted {
    font-size: 1.2rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
}
.zkml-body-txt {
    font-size: 1.2rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.zkml-button {
    border-radius: 20px;
    border: 1px solid white;
    padding: 0.6em 1em;
    background-color: #191b27;
    color: white; 
    width: 45%;
    margin: 0px 2.5%;
}
.zkml-button:hover {
    border-color: #38E5FF;
    color: #38E5FF;
}
.zkml_button:focus,
.zkml_button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.zkml-id-warn-tooltip {
    font-family: 'Questrial';
}

@media only screen and (max-width: 424px) {
    .zkmlid {
        width: 360px;
        margin: auto;
    }
    .zkmlid-header {
        display: none;
    }
    .zkmlid-body {
        width: 100%;
        padding: auto;
        flex-direction: column;
    }
    .zkml-button {
        width: 100%;
        margin: 0.5rem 0rem;
    }
    .zkml-title {
        font-size: 1.2rem;
    }
    .zkml-circle-effect {
        margin-top: -40rem;
    }
    .zkml-id-contracted {
        line-height: 1.5;
        font-size: 1em;
    }
    .zkml-body-txt {
        line-height: 1.5;
        font-size: 1em;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .zkmlid-header {
        display: none;
    }
    .zkmlid-body {
        width: 100%;
        padding: auto;
        flex-direction: column;
    }
    .zkml-button {
        width: 100%;
        margin: 0.5rem 0rem;
    }
    .zkml-title {
        font-size: 1.3rem;
    }
    .zkml-circle-effect {
        margin-top: -40rem;
    }
    .zkml-id-contracted {
        line-height: 1.5;
        font-size: 1em;
    }
    .zkml-body-txt {
        line-height: 1.5;
        font-size: 1em;
    }
}
  
@media only screen and (min-width: 768px) and (max-width: 960px) {
    .zkmlid-header {
        display: none;
    }
    .zkmlid-body {
        width: 100%;
    }
}
@media only screen and (min-width: 1280px){
    .zkmlid-body {
        display: flex;
    }
    .zkmlid-body-control {
        margin-left: 10px;
    }
    .zkmlid-body-generate {
        margin-right: 10px;
    }
}

  